:root {
  color-scheme: light;
  --bg: #{$white};
  --bg--off: #{$light-grey};
  --color: #{$black};
  --color--off: #{$grey};
  --color--anchor: #{$blue};
}

/* .darks {
  color-scheme: dark;
  --bg: #{$white};
  --bg--off: #{$light-grey};
  --color: #{$black};
  --color--off: #{$grey};
  --color--anchor: #{$blue};
} */
