:root {
  --bg--off: #{$light-grey};
  --bg: #{$white};
  --color--anchor: #{$blue};
  --color--off: #{$grey};
  --color: #{$black};
  color-scheme: light;
}

/* .dark {
  color-scheme: dark;
  --bg: #{$white};
  --bg--off: #{$light-grey};
  --color: #{$black};
  --color--off: #{$grey};
  --color--anchor: #{$blue};
} */
