$font-size--large: 46px;
$font-size: 16px;
$font-size--small: 14px;

$font-weight--bold: 600;
$font-weight: 400;

$font-family: Figtree, Helvetica, Arial, sans-serif;

$black: #000;
$grey: #727272;
$light-grey: #fbfbfb;
$white: #fff;
$blue: #14f;

$border-radius: 4px;

$shadow-color: #0000000d;

// $skyblue: hsl(201, 24%, 84%);
// $deep-green: #0b1313;
// $green: #063727;
// $blue--dark: #1861f2;
// $yellow: #ff2;
