$font-size--large: 40px;
// $font-size--large: 24px;
$font-size: 16px;
$font-size--small: 14px;
// $font-size--extra-small: 11px;

// $font-weight--extra-bold: 800;
$font-weight--semi-bold: 600;
$font-weight: 400;

$font-family: "Figtree", sans-serif;

$black: #000;
$grey: #686868;
$light-grey: #f8f8f8;
$white: #fff;
$blue: #16f;

// Draft:

$border-radius: 3px;

$shadow-color: #00000018;

// $skyblue: hsl(201, 24%, 84%);
// $deep-green: #0b1313;
// $green: #063727;

// $blue--dark: #1861f2;
// $yellow: #ff2;

$debug: #f000;

