@import "Projects";

.intro {
  container-type: inline-size;
  grid-column: 2 / 3;
  grid-template-rows: 38.2lvh repeat(2, auto);
}

@container (max-width: 430px) {
  .intro p br {
    display: none;
  }
}
