@import "Projects";

.intro {
  grid-template-rows: 38.2lvh repeat(2, auto);
  grid-column: 2 / 3;
  container-name: intro;
  container-type: inline-size;
}

@container intro (max-width: 440px) {
  .intro__about-me br {
    display: none;
  }
}
