@font-face {
  font-family: "Allison";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=X7nl4b88AP2nkbvZOCOI5Y0&skey=ca4a9ffe08a7dc79&v=v11)
    format("woff2");
  unicode-range: U+41;
}
@font-face {
  font-family: "Fleur De Leah";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=AYCNpXX7ftYZWLhv9UmPJTMC5vO15cY&skey=7ca00a9b77941a96&v=v9)
    format("woff2");
  unicode-range: U+41;
}
@font-face {
  font-family: "Gideon Roman";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=e3tmeuGrVOys8sxzZgWlmXogflvT6w&skey=bb5064e49d3134b9&v=v11)
    format("woff2");
  unicode-range: U+41;
}
@font-face {
  font-family: "Hurricane";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pe0sMIuULZxTolZ5YldyB-W7Qg&skey=cfae902f06d3ff0b&v=v7)
    format("woff2");
  unicode-range: U+41;
}

#fontima {
  @extend .blueprint;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
}

.fontima__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  height: min-content;
  &,
  span span {
    font-size: 3rem;
    // line-height: 0;
    &::before,
    &::after {
      border: none !important;
    }
  }
  > span {
    align-items: center;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    &:nth-child(1) span {
      font-family: "Fleur De Leah";
      translate: -9px -4px;
    }
    &:nth-child(2) span {
      font-family: "Allison";
      translate: -4px -1px;
    }
    &:nth-child(3) span {
      font-family: "Hurricane";
      translate: -3px -2px;
    }
    &:nth-child(4) span {
      font-family: "Gideon Roman";
    }
    /* Fonts by Robert Leuschke. */
  }
}

/* .fontima__feedback {
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  strong {
    &::before,
    &::after {
      border: none !important;
    }
  }
} */
