#tw {
  @extend .blueprint;
  display: grid;
  font-feature-settings: "tnum";
  gap: 0.5rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto min-content auto;
  line-height: 1;
  padding: 1rem;
}

.tw__country {
  display: flex;
  gap: 1ch;
  grid-column: 1 / 3;
  justify-content: space-between;
  margin-block-end: 0.5rem;
  img {
    aspect-ratio: 1;
  }
}

.tw__current-temp {
  font-size: 3.1rem;
  grid-row: 2 / 4;
}
