#vec {
  @extend .blueprint;
  color: var(--line-color);
  line-height: 1.25;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  pre {
    font-size: 10px;
    height: 100%;
    letter-spacing: -0.2px;
    text-align: center;
  }
}

.vec__box-symbols,
.vec__npm-sticker {
  bottom: 1rem;
  position: absolute !important;
}

.vec__box-symbols {
  font-size: 18px;
  left: 1rem;
  line-height: 1;
  padding: 1px 2px;
}

.vec__npm-sticker {
  border-radius: 0;
  font-family: monospace;
  font-size: 15px;
  padding: 0 4px 2px 3px;
  right: 1rem;
}
